html{
	background-image:url(florabg.jpg);
	background-repeat:no-repeat;
	background-size:2500px;
}
#2{
	background-image:url(B.png);
	background-repeat:no-repeat;
	padding:200px;
	background-position:left top;
	border:100px;
}
.F{
	  display: flex;
	  justify-content:left;
	  gap:475px
}
.4{
	align-content:center;
}
.5{
	justify-content:center;
	text-align:center;
	float:center;
}
#end{
	background-color:#d1c9d1;
	width: 1950;
	text-align: left;
	border-radius: 10px;
	font-size: 16px;
}